/* Wrapper */
.wrapper {
    min-width: 100%;
    min-height: 100vh;
    padding: 1px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../images/color-skull.png") no-repeat center;
    background-size: cover;
}

/* Container */
.container {
    color: #d3d3d3;
    font-family: 'Almendra', serif;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

/* Jumbotron */
.jumbotron {
    margin-top: 20px;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

@media screen and (min-width: 767px) {
    .jumbotron {
        margin-top: 40px;
    }
}

.jumbotron button {
    padding: 0.5em 2em;
}

/* Display 3 */
.display-3 {
    color: #ff7741;
}

/* Timer */
.timer {
    display: none;
    width: 100px;
    padding: 0.6em 1.2em;
    border: 2px solid #dc3545;
    border-radius: 0.3em;
    margin: 0 auto;
    background: #000;
}

/* Question */
.question {
    color: #d3d3d3;
}

/* Answer */
.answer {
    border: 1px solid rgb(187, 22, 22);
    background: #000;
    color: #b4b4b4;
    font-size: 1.2em;
    transition: background 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
}

.answer:hover {
    background: #343a40;
    color: #fff;
}

/* Answer image */
.answer-image {
    max-width: 300px;
    max-height: 250px;
    border: 2px solid #fff;
}

/* Game results */
.game span {
    color: #dc3545;
}
